.main {
	padding-inline: 7rem;
	padding-top: 13rem;

	&--error {
		padding-top: 3rem;
		padding-inline: 2rem;
	}

	@media only screen and (max-width: $bp-small) {
		padding-inline: 3.5rem;
	}
}

.grid {
	margin-bottom: 5rem;

	display: grid;
	grid-template-columns: repeat(4, minmax(20rem, 1fr));
	grid-gap: 8rem;

	@media only screen and (max-width: $bp-big) {
		grid-template-columns: repeat(3, minmax(20rem, 1fr));
		grid-gap: 4rem;
	}

	@media only screen and (max-width: $bp-medium) {
		grid-template-columns: repeat(2, minmax(20rem, 1fr));
		grid-gap: 4rem;
	}

	@media only screen and (max-width: $bp-small) {
		grid-template-columns: minmax(20rem, 1fr);
		grid-gap: 4rem;
	}
}
