.inputs {
	margin-bottom: 6rem;

	display: flex;
	justify-content: space-between;

	@media only screen and (max-width: $bp-medium) {
		flex-direction: column;
	}
}

.text {
	position: relative;
	width: 70rem;

	&__input {
		width: 100%;
		height: 6rem;
		padding-left: 8rem;

		background-color: $color-dark-blue;
		color: $color-white;

		font-weight: $font-weight-800;
		font-size: 1.5rem;

		border: none;
		border-radius: $border-radius;
		box-shadow: $box-shadow;

		&:focus {
			outline: none;
		}
	}

	&__icon {
		position: absolute;
		top: 2rem;
		left: 3rem;
		height: 2rem;
		width: 2rem;
		fill: $color-white;
		cursor: text;
	}

	@media only screen and (max-width: $bp-big) {
		width: 50rem;
	}

	@media only screen and (max-width: $bp-medium) {
		width: 100%;
		margin-bottom: 5rem;
	}
}
