h1,
h2,
h3,
span,
p {
	color: $color-white;
}

span {
	font-weight: $font-weight-600;
}

.heading-1 {
	font-size: 2.8rem;
	line-height: 1.5;
}

.heading-2 {
	font-size: 2.5rem;

	@media only screen and (max-width: $bp-small) {
		font-size: 2rem;
	}
}

.heading-3 {
	font-size: 2rem;
	line-height: 1.5;
}

.paragraph {
	font-size: 1.3rem;
	font-weight: $font-weight-300;
	line-height: 2.3;
	text-align: start;

	@media only screen and (max-width: $bp-small) {
		font-size: 1.7rem;
	}
}
